.Hero{
  max-width: 1280px;
  width: 100%;
  padding: 25px 0;
  margin-inline: auto;
}

.wrapperHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContent h1 {
  font-size: 48px;
  max-width: 22ch;
}

.heroContent p {
  margin-top: 10px;
  font-size: 18px;
  max-width: 30ch;
}

.heroImg {
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.heroContent a {
  font-size: 18px;
  margin-top: 20px;
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width: 768px) {
  .wrapperHero {
    flex-direction: column;
    justify-content: center;
  }
  .heroContent {
    margin-inline: auto;
    font-size: 20px;
    text-align: center;
  }

  .heroContent h1{
    font-size: 30px;
  }

  .heroContent p{
    text-align: center;
    margin-inline: auto;
    padding-top: 15px;
  }
  img {
    display: none;
  }
}
