.wrapperHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--graybg);
}

.logo {
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
}

.ulMenu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLi a {
    color: var(--orange);
    font-size: 16px;
    border: 1px solid var(--orange);
    padding: 10px 10px;
    border-radius: 10px;
}

.navLi a:hover {
    color: var(--black);
}

@media (max-width: 768px) {
    .wrapperHeader {
        flex-direction: column;
        gap: 20px;
    }
}